*{
    font-family: "Comic Sans MS";
}

.Card-detail{
    background-color: white;
    opacity: 92%;
    border-radius: 10px;

}

.Card-detail:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.Card-info-upper{
    text-align: center;
}

h2{
    text-align: center;
}

.card-img{
    height: 300px;
    width: 300px;
    opacity: 1;

}

.Card-header{
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto;

}

.Pokemon-index{
    color: black;
    font-family: "Comic Sans MS";
    padding-top: 2px;
}

/*span{*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/

.badge{
    color: white;
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
}

.p{
    margin: 0;
    padding-right: 10px;
}



.Card-title{
    text-align: center;
}

.Outer{

    width: 65%;
    height: 100%;
    margin: 20px auto ;
}

.pokemon-description-detail{
    padding-top: 30px;
    padding-bottom: 30px;

}

/*.Card-content description detail{*/
/*    border: 1px solid black;*/
/*}*/

.Card-body-content{
    height: 250px;
    width: 250px;
    margin: 0 auto;
    text-align: left;
}

.Card-content{
    margin: 0 auto;
    width: 400px;
    /*text-align: center;*/
}

hr{
    border-top: 1px dashed #6bccf9;
    opacity:1;
}

.Content{
    margin-bottom: 0;
    padding-bottom: 100px;
}