.Search-bar {
    width: 245px;
    margin: 0 auto;
    color: hsl(210, 24%, 16%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Comic Sans MS";
    padding-top: 30px;
}
.Search-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}


.submitButton {
    border-radius: 3px;
    border: none;
    text-decoration: none;
    background-color: orange;
    cursor: pointer;
    color: #dadad9;
    font-size: 16px;
}
.inputField {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid orange;
    color: white;
    text-align: center;
    font-weight: 800;
    font-family: "Comic Sans MS";
    font-size: 16px;
}

.submitButton p{
    font-weight: 800;
    color: white;
}