.Search-container{
    background-color: white;
    height: 1.5em;
    width: 65%;
    border-radius: 10px;
    opacity: 0.5;
    font-size: 1.5em;
    margin:0 auto;
    font-family: "Comic Sans MS";
}

.Search-outer{
    padding-top: 20px;
    padding-bottom: 20px;
}

.Search-label{
    text-align: center;
    position: relative;
    margin: 0 auto;

}

.Search-container input{
    width: 50%;
    font-style: italic;
    outline: none;
    box-sizing: border-box;
    margin: 0 auto;


}

.fas fa-search{
    position: absolute;
    top: -10px;
    color: white;
    right: 20px;
}
